@font-face {
    font-family: fontfa;
    src: url(../fonts/Vazir-Variable.woff2);
    font-display: block;
}


body{
    font-family: 'fontfa', sans-serif;
    color:#000;
    margin: 0;
    font-variation-settings: 'wght' 400;
}

.post-header{
    background-color: #f5f5f7;
}
.post-header nav {
    max-width: 650px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    padding: 0 15px;
}
.post-header nav a{
    color: #1d1d1f;
    margin-left: 25px;
    font-size: 0.95em;
}
.post-header nav a:last-child{
    margin-left: 0;
}
.post-header nav a:hover{
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

article{
    margin-bottom: 80px;
    margin-top: 50px;
}



h1,h2,h3,h4,h5,h6,p,ol,ul,.btn{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}
ul{
    margin-bottom: 50px;
    list-style-position: inside;
}
ol {
    margin-bottom: 50px;
    list-style: persian inside;
}
p,li{
    line-height: 2.15
}
p{
    margin-bottom: 1.6em;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.75;
    font-variation-settings: 'wght' 500;
}
b,strong{
    font-variation-settings: 'wght' 430;

}
h1{
    font-size: 1.35em;
}
h2{
    font-size: 1.35em;
    
}
h3,h4,h5,h6{
    font-size: 1.2em;
    margin-top: 4em;
}
a {
    text-decoration: none;
    color: #06c;
}

.btn{
    display: block;
    width: max-content;
    background-color: #1d1d1f!important;
    border-radius: 5px;
    padding: 8px 25px;
    color: #f5f5f7;
    margin-bottom: 6em;
}




img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 768px;
    margin: 2em auto 2em auto;
}
figure{
    max-width: 768px;
    margin: 2em auto 2em auto;
}
figure img{
    margin-bottom: 5px;
}
figure figcaption{
    font-size: 90%;
    text-align: center;
    font-style: italic;
}

table {
    width: 100%;
    max-width:768px ;
    margin: 20px auto 70px;
    padding: 0 13px;
    border-spacing: 0;
}
thead th {
    border-bottom: 1px solid #ddd;
    font-variation-settings: 'wght' 500;


}
th,td{
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}



.blog-list li {
    list-style: persian;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-variation-settings: 'wght' 500;
    list-style-position: inside;
}
.blog-list li a{
    line-height: 1.5;
}
.blog-list li:last-child {
    border-bottom: 0;
}



@media (max-width: 600px){   
    body{
        font-size: 15px;
    }
    pre{
        max-width: calc(100% - 26px);
    }
}
