@font-face {
    font-family: Vazirmatn;
    src: url(/assets/fonts/Vazirmatn-Regular.woff2);
    font-display: block;
    font-weight: normal;
}
@font-face {
    font-family: Vazirmatn;
    src: url(/assets/fonts/Vazirmatn-Bold.woff2);
    font-display: block;
    font-weight: bold;
}
body{
    font-family: 'Vazirmatn', sans-serif;
    color:#0d193b;
    margin: 0;
    font-size: 17px;
}
.post-header{
    border-bottom: 1px solid #eee;
}
.post-header nav {
    max-width: 740px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    padding: 0 15px;
}
.post-header nav a{
    color: #0d193b;
    margin-left: 25px;
    font-size: 0.92em;
}
.post-header nav a:last-child{
    margin-left: 0;
}
.post-header nav a:hover{
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

main{
    margin-bottom: 80px;
    margin-top: 50px;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,.btn{
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}
ul{
    margin-bottom: 50px;
    list-style-position: inside;
}
ol {
    margin-bottom: 50px;
    list-style: persian inside;
}
p,li{
    line-height: 2
}
p{
    margin-bottom: 1.6em;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.5;
}
h1{
    font-size: 1.35em;
}
h2{
    margin-top: 4em;
    font-size: 1.35em;
}
h3{
    font-size: 1.3em;
    margin-top: 3em;
}
a {
    text-decoration: none;
    color: #06c;
}
.btn{
    display: block;
    width: max-content;
    background-color: #1d1d1f!important;
    border-radius: 5px;
    padding: 8px 25px;
    color: #f5f5f7;
    margin-bottom: 6em;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 768px;
    margin: 2em auto 2em auto;
}
figure{
    max-width: 768px;
    margin: 2em auto 2em auto;
}
figure img{
    margin-bottom: 5px;
}
figure figcaption{
    font-size: 90%;
    text-align: center;
    font-style: italic;
}
table {
    width: 100%;
    max-width:768px ;
    margin: 20px auto 70px;
    padding: 0 13px;
    border-spacing: 0;
}
thead th {
    border-bottom: 1px solid #ddd;
}
th,td{
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.blog-list li {
    list-style: persian;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    list-style-position: inside;
    line-height: 1.5;
}
.blog-list li a{
    font-weight: bold;
}
.blog-list li:last-child {
    border-bottom: 0;
}

@media (max-width: 600px){   
    body{
        font-size: 16px;
    }
    pre{
        max-width: calc(100% - 26px);
    }
}
